.itemview-body {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

#itemview-left {
    flex: 0.6;
    padding: 10px;
    margin: 5px;
    max-height: 100%;
    top: 0;
}

#itemview-right {
    flex: 0.3;
    padding: 10px;
    margin: 5px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 0;
}

#itemview-bottom {
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: center;
    color: #444;
    font-size: 32px;
    margin-bottom: 30px;
}

#itemDetailsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 0px;
    width: 100%;
}

h6 {
    margin: 0;
    font-size: 18px;
}

h6 strong {
    color: #555;
}

img {
    display: block;
    max-height: 100%;
    width: auto;
    border-radius: 6px;
    margin-bottom: 30px;
}

@media (max-height: 350px) {
    #itemview-main {
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    h6 {
        font-size: 16px;
    }

    img {
        height: 100%;
        width: auto;
    }
}

.carousel-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-item img {
    max-height: 500px; 
    width: auto;      
    object-fit: contain;
    margin: 0 auto;  
}
  
  .carousel-caption h5 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .carousel-caption p {
    font-size: 16px;
  }

  .carousel-thumbnails img {
    width: 100px; 
    height: auto;
    margin: 0 10px;
    cursor: pointer;
}

.carousel-thumbnails .active img {
    border: 2px solid #007bff; 
}

.carousel-thumbnails {
    margin-top: 20px;
}

.thumbnail.active img {
    border: 2px solid #007BFF;
}

.item-button-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
}

.purchase-button {
    text-align: center;
    background-color: #F96900;
    color: #ffffff;
    height: 50px;
    width: 100%;
    border: 0px;
}

.bottom-carousel-inner {
    padding: 0px 110px;
    display: flex; 
    flex-wrap: nowrap;
    overflow: hidden; 
}

.bottom-carousel-inner img {
    max-height: 300px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px;
 }  

.bottom-carousel-item {
    display: flex; 
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    color: #000; 
    background-color: rgba(0, 0, 0, 1);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 1);
    height: 40px;
    width: 40px;
    border-radius: 50%; 
}

#other-items-header {
    margin: 30px;
}