{{define "content"}}
<h1>Add New Item</h1>
<form method="POST" action="/shopapi/create" id="add-item-form" class="general-form" enctype="multipart/form-data">
    <div class="form-group">
        <label for="name-input">Item Name:</label>
        <input type="text" name="name-input" id="name-input" placeholder="Enter item name" required/>
    </div>
    <div class="form-group">
        <label for="gender-input">Choose Gender:</label>
        <select name="gender-input" id="gender-input" required>
            <option value="" disabled selected>Please select a gender</option>
            <option value="Womens">Womens</option>
            <option value="Mens">Mens</option>
            <option value="Unisex">Unisex</option>
        </select>
    </div>
    <div class="form-group">
        <label for="description-input">Item Description:</label>
        <input type="text" name="description-input" id="description-input" placeholder="Please enter item description" required/>
    </div>
    <div class="form-group">
        <label for="price-input">Item Price:</label>
        <input type="number" name="price-input" id="price-input" placeholder="Please enter item price" required/>
    </div>
    <div class="form-group">
        <label for="category-input">Choose a Category:</label>
        <select name="category-input" id="category-input" required>
            <option value="" disabled selected>Please select a category</option>
            <option value="Coat">Coat</option>
            <option value="Jacket">Jacket</option>
            <option value="Knitwear">Knitwear</option>
            <option value="Sweatshirt">Sweatshirt</option>
            <option value="Top">Top</option>
            <option value="Bottoms">Bottom</option>
            <option value="Shorts">Shorts</option>
            <option value="Shoe">Shoe</option>
            <option value="Accessories">Accessories</option>
        </select>
    </div>
    <div class="form-group">
        <label for="size-input">Choose a Size:</label>
        <select name="size-input" id="size-input" required></select>
    </div>
    <div class="form-group">
        <label for="condition-input">Item Condition:</label>
        <select name="condition-input" id="condition-input" required>
            <option value="" disabled selected>Please select item condition</option>
            <option value="Brand New">Brand New</option>
            <option value="Like New">Like New</option>
            <option value="Good Condition">Good Condition</option>
            <option value="Fair Condition">Fair Condition</option>
            <option value="Poor Condition">Poor Condition</option>
        </select>
    </div>
    <div class="form-group">
        <label for="image-input">Upload photos:</label>
        <input type="file" name="image-input" id="image-input" accept="image/*" multiple required/>            
    </div>
    <button type="submit" id="create-item-btn">Add Item</button>
</form>

<script src="/../static/js/additem.js"></script>
{{end}}