<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="nofollow" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/index.css">
    <script src="https://unpkg.com/htmx.org@2.0.1" 
    integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" 
    crossorigin="anonymous"></script>
    <title>Items Grid</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-left">
            <a href="#">Sign Up</a>
            <a href="#" id="loginBtn">Log In</a>
        </div>
        <div class="navbar-right">
            <a href="#">Home</a>
        </div>
    </div>

    <!-- Overlay-->
    <div id="overlay" class="overlay"></div>
    <!-- Popup window -->
    <div id="popup" class="popup">
        <div class="popup-header">
            <h2>Log In</h2>
            <button id="closeBtn" class="close-btn">&times;</button>
        </div>
        <form>
            <input type="text" placeholder="Username" required>
            <input type="password" placeholder="Password" required>
            <input type="submit" value="Log In">
        </form>
    </div>

    <div id="main">
        <h1>Items</h1>
        <div class="grid-container" id="items">
            {{range .items}}
            <div class="grid-item" id="item-{{.ID}}">
                <p>{{.Name}} - £<span class="price">{{.Price}}</span></p>
                <div class="button-container">
                    <button class="edit-btn" onclick="toggleEditForm('{{.ID}}')">Edit</button>
                    <button hx-target="#item-{{.ID}}" hx-delete="/shopapi/{{.ID}}" hx-swap="outerHTML">Delete</button>
                </div>
                <form class="edit-form" id="editPrice{{.ID}}" 
                      hx-put="/shopapi/{{.ID}}/{{.Name}}"
                      hx-target="#item-{{.ID}}"
                      hx-swap="outerHTML">
                    <input name="price" placeholder="New Price"/>
                    <button type="submit">Save</button>
                </form>
            </div>
            {{else}}
            <div class="grid-item">
                No items found
            </div>
            {{end}}
        </div>


        <h2>Add New Item</h2>
        <form id="addItemForm" class="add-item-form" hx-post="/shopapi/" hx-target="#items" hx-swap="beforeend">
            <div class="form-group">
                <label for="nameInput">Item Name:</label>
                <input type="text" name="name" id="nameInput" placeholder="Enter item name" required/>
            </div>
            <div class="form-group">
                <label for="priceInput">Item Price:</label>
                <input type="number" name="price" id="priceInput" placeholder="Enter item price" required/>
            </div>
            <div class="form-group">
                <label for="idInput">Item ID:</label>
                <input type="text" name="ID" id="idInput" placeholder="Enter item ID" required/>
            </div>
            <button type="submit" id="createItemBtn">Add Item</button>
        </form>
    </div>
</body>
</html>

<script>
    // Get elements
    const loginBtn = document.getElementById('loginBtn');
    const closeBtn = document.getElementById('closeBtn');
    const popup = document.getElementById('popup');
    const overlay = document.getElementById('overlay');
    const addItemForm = document.getElementById('addItemForm');


    // Show popup when login button is clicked
    loginBtn.addEventListener('click', function(e) {
        e.preventDefault();
        popup.style.display = 'block';
        overlay.style.display = 'block';
    });

    // Hide popup when close button is clicked
    closeBtn.addEventListener('click', function() {
        popup.style.display = 'none';
        overlay.style.display = 'none';
    });

    // Hide popup when clicking outside of the popup
    overlay.addEventListener('click', function() {
        popup.style.display = 'none';
        overlay.style.display = 'none';
    });

    // Clear the Add Item Form when submitted
    addItemForm.addEventListener('submit', function(event){
        event.preventDefault();

        setTimeout(function() {
            addItemForm.reset();
        }, 100);
    });

    function toggleEditForm(id) {
        const form = document.getElementById(`editPrice${id}`);
        const isHidden = form.style.display === 'none' || form.style.display === '';
        form.style.display = isHidden ? 'block' : 'none';
    };
</script>