{{define "content"}}
<div id="main">
    <div class="sort-input-container">
        <form action="/shopapi/sort" method="POST" class="sort-form">
            <select name="order-input" id="order-input" onchange="this.form.submit()">
                <option class="order-option" value="default" disabled selected>Default</option>
                <option class="order-option" value="price-dec">Price (high)</option>
                <option class="order-option" value="price-inc">Price (low)</option>
            </select>
        </form>
    </div>
    <h1 class="itemsgrid-header">{{.GridTitle}}</h6>
    <div class="grid-container" id="items">
        {{range .items}}
        {{block "item" .}} {{end}}
        {{else}}
        <div class="grid-item">
            No items found
        </div>
        {{end}}
    </div>
</div>
{{end}}