{{define "content"}}
<div class="itemview-body">
    <div id="itemview-left">
        <div id="itemCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {{range $index, $image := .images}}
                <div class="carousel-item {{if eq $index 0}}active{{end}}">
                    <img src="/images/{{$image}}" class="d-block w-100" alt="Image {{$index}}">
                </div>
                {{end}}
            </div>
        </div>

        <div class="carousel-thumbnails d-flex justify-content-center mt-4">
            {{range $index, $image := .images}}
            <div class="thumbnail" data-target="#itemCarousel" data-slide-to="{{$index}}">
                <img src="/images/{{$image}}" alt="Thumbnail {{$index}}" class="img-thumbnail">
            </div>
            {{end}}
        </div>
    </div>

    <div id="itemview-right">
        <div class="item-headertext-container">
            <h2>{{.itemName }} by {{.itemSellerName}}</h2>
            <h5>£{{.itemPrice}}</h5>

            <h6><strong>{{.itemCategory}} | Size {{.itemSize}} | {{.itemCondition}}</strong></h6>
            <h6><strong>Uploaded on</strong> {{.itemUploadDate}}</h6>
        </div>

        <div id="itemDetailsContainer">
            <h6><strong>Description:</strong> </h6>
            <p>{{.itemDescription }}</p>
        </div>
        
        {{if .itemIsSold}}
            <div></div>
        {{else}}
            <div class="item-button-container">
                <button id="add-to-cart-btn" data-itemid="{{.ID}}">Add to cart</button>
                <span id="add-to-cart-error" class="error-message" style="color: red;"></span>
                <a id="category-link" href="/shopapi/category?CategoryID={{.itemCategory}}">More like this</a>
            </div>
        {{end}}
    </div>
</div>
<h3 id="other-items-header">Other items by {{.itemSellerName}}</h3>
<div class="itemview-bottom">
    <div id="multiItemCarousel" class="carousel slide" data-ride="carousel">
        <!-- Carousel inner -->
        <div class="bottom-carousel-inner">
            {{range $item := .otherItems}}
                <div class="bottom-carousel-item">
                    <a href="/shopapi/view/{{$item.ID}}" class="item-card">
                        <div class="grid-item" id="item-{{$item.ID}}">
                            <div class="image-container">
                                <img src="/images/{{$item.GalleryImage}}" class="d-block w-100" alt="{{$item.GalleryImage}}">
                            </div>
                            <div class="item-info">
                                <p>{{$item.Name}} - {{$item.Size}}</p>
                                <p class="price">£{{$item.Price}}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {{end}}
        </div>
    
        <!-- Carousel controls -->
        <button id="carousel-control-prev" class="carousel-control-prev" data-bs-target="#multiItemCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </button>
        <button class="carousel-control-next" data-bs-target="#multiItemCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </button>
    </div>
    <script src="/../static/js/itemview.js"></script>
</div>

{{end}}