{{define "content"}}
<div class="itemview-body">
    <div id="itemview-left">
        <div id="itemCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {{range $index, $image := .images}}
                <div class="carousel-item {{if eq $index 0}}active{{end}}">
                    <img src="/images/{{$image}}" class="d-block w-100" alt="Image {{$index}}">
                </div>
                {{end}}
            </div>
        </div>

        <div class="carousel-thumbnails d-flex justify-content-center mt-4">
            {{range $index, $image := .images}}
            <div class="thumbnail" data-target="#itemCarousel" data-slide-to="{{$index}}">
                <img src="/images/{{$image}}" alt="Thumbnail {{$index}}" class="img-thumbnail">
            </div>
            {{end}}
        </div>
    </div>

    <div id="itemview-right">
        <div class="item-headertext-container">
            <h2>{{.itemName }} by {{.itemSellerName}}</h2>
            <h5>£{{.itemPrice}}</h5>

            <h6><strong>{{.itemCategory}} | Size {{.itemSize}} | {{.itemCondition}}</strong></h6>
            <h6><strong>Uploaded on</strong> {{.itemUploadDate}}</h6>
        </div>

        <div id="itemDetailsContainer">
            <h6><strong>Description:</strong> </h6>
            <p>{{.itemDescription }}</p>
        </div>
        
        {{if .itemIsSold}}
            <div></div>
        {{else}}
            <div class="item-button-container">
                <button class="purchase-button">Purchase Item</button>
            </div>
        {{end}}
    </div>
</div>

{{end}}