{{define "navbar"}}
<div class="navbar-container">
    <div class="navbar">
        <div class="navbar-left">
            <a href="/shopapi/" class="nav-home">SHOP</a>
        </div>
    
        <div class="navbar-centre">
            <form action="/shopapi/search" method="POST" class="search-bar">
                <input type="search" id="search-input" name="search-input" placeholder="Search..." required>
                <button type="submit">Search</button>
            </form>   
        </div>
        
        <div class="navbar-right">
            {{if .isAuthenticated}}
                <a href="/membersapi/profile" id="profileBtn">Profile</a>
                <a href="/membersapi/logout" id="logoutBtn">Log out</a>
            {{else}}
                <a href="/membersapi/signup" id="signupBtn">Sign Up</a>
                <a href="#" id="loginBtn">Log In</a>
            {{end}}
        </div>
    </div>

    <div class="categories-container">
        <a href="/shopapi/category?CategoryID=Coat">Coats</a>
        <a href="/shopapi/category?CategoryID=Jacket">Jackets</a>
        <a href="/shopapi/category?CategoryID=Knitwear">Knitwear</a>
        <a href="/shopapi/category?CategoryID=Sweatshirt">Sweatshirts</a>
        <a href="/shopapi/category?CategoryID=Top">Tops</a>
        <a href="/shopapi/category?CategoryID=Bottoms">Bottoms</a>
        <a href="/shopapi/category?CategoryID=Shorts">Shorts</a>
        <a href="/shopapi/category?CategoryID=Shoe">Shoes</a>
        <a href="/shopapi/category?CategoryID=Accessories">Accessories</a>
    </div>
</div>

<!-- Overlay-->
<div id="overlay" class="overlay"></div>
<!-- Popup window -->
<div id="popup" class="popup">
    <div class="popup-header">
        <h2>Log In</h2>
        <button id="closeBtn" class="close-btn">&times;</button>
    </div>
    <form id="form-login" action="/membersapi/login" method="POST">
        <div class="form-group">
            <input id="login-emailaddress" name="EmailAddress" type="text" placeholder="Email Address" required>
            <span class="error-message" style="color: red;" id="emailaddress-error"></span>
        </div>     

        <div class="form-group">
            <input id="login-password" name="Password" type="password" placeholder="Password" required>
            <span class="error-message" style="color: red;" id="password-error"></span>
        </div>
        <span class="error-message" style="color: red;" id="general-error"></span>
        
        <input type="submit" value="Log In">
    </form>
    <script src="/../static/js/loginvalidation.js"></script>
</div>
{{end}}
