{{define "content"}}
<div class="profile-body">
    <div class="userControlsClass">
        <a href="/membersapi/editpage" id="editProfileBtn">Edit Profile</a>
        <a href="javascript:void(0)" onclick="confirmDelete()" id="deleteProfileBtn">Delete Profile</a>
    </div>
    
    <h1>Your Details</h1>
    <div id="userDetailsContainer">
        <h6><strong>Name:</strong> {{.FirstName }} {{.LastName }}</h6>
        <h6><strong>Email Address:</strong> {{.EmailAddress }}</h6>
        <h6><strong>Date of Birth:</strong> {{.DateOfBirth}}</h6>
    </div>
    
    <h1>Your Items</h1>
    <div id="userItemsContainer">
        {{range .UserItems}}
        <div class="user-item">
            <h6>{{.ItemName}}</h6>
        </div>
        {{else}}
        <p>You have no items.</p>
        {{end}}
    </div>
    
    <h1>Add New Item</h1>
    <form method="POST" action="/shopapi/create" id="addItemForm" class="add-item-form" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name-input">Item Name:</label>
            <input type="text" name="name-input" id="name-input" placeholder="Enter item name" required/>
        </div>
        <div class="form-group">
            <label for="gender-input">Choose Gender:</label>
            <select name="gender-input" id="gender-input" required>
                <option value="" disabled selected>Please select a gender</option>
                <option value="Womens">Womens</option>
                <option value="Mens">Mens</option>
                <option value="Unisex">Unisex</option>
            </select>
        </div>
        <div class="form-group">
            <label for="description-input">Item Description:</label>
            <input type="text" name="description-input" id="description-input" placeholder="Please enter item description" required/>
        </div>
        <div class="form-group">
            <label for="price-input">Item Price:</label>
            <input type="number" name="price-input" id="price-input" placeholder="Please enter item price" required/>
        </div>
        <div class="form-group">
            <label for="category-input">Choose a Category:</label>
            <select name="category-input" id="category-input" required>
                <option value="" disabled selected>Please select a category</option>
                <option value="Coat">Coat</option>
                <option value="Jacket">Jacket</option>
                <option value="Top">Top</option>
                <option value="Knitwear">Knitwear</option>
                <option value="Bottoms">Bottom</option>
                <option value="Shoe">Shoe</option>
            </select>
        </div>
        <div class="form-group">
            <label for="size-input">Choose a Size:</label>
            <select name="size-input" id="size-input" required></select>
        </div>
        <div class="form-group">
            <label for="condition-input">Item Condition:</label>
            <select name="condition-input" id="condition-input" required>
                <option value="" disabled selected>Please select item condition</option>
                <option value="BrandNew">Brand New</option>
                <option value="LikeNew">Like New</option>
                <option value="GoodCondition">Good Condition</option>
                <option value="FairCondition">Fair Condition</option>
                <option value="PoorCondition">Poor Condition</option>
            </select>
        </div>
        <div class="form-group">
            <label for="image-input">Upload photos:</label>
            <input type="file" name="image-input" id="image-input" accept="image/*" multiple required/>            
        </div>
        <button type="submit" id="createItemBtn">Add Item</button>
    </form>
</div>


<script>
    // Confirmation before deleting profile
    function confirmDelete() {
        if (confirm("Are you sure you want to delete your profile? This action cannot be undone.")) {
            window.location.href = "/membersapi/delete";
        }
    }
</script>
<script src="/../static/js/profile.js"></script>

{{end}}
