{{define "content"}}
<div class="profile-body">
    
    <div id="user-details-container">
        <div id="profile-username"><strong>{{.FirstName }} {{.LastName }}</strong></div>
        <a href="/membersapi/editpage" id="edit-profile-btn">Edit Profile</a>
    </div>

    <div id="user-small-details">
        <h5><strong>{{.EmailAddress}}</strong></h5>
        <h5><strong>{{.DateOfBirth}}</strong></h5>
    </div>
    
    <div id="items-header-container">
        <div class="spacer"></div>
        <h1 id="items-header">Your Items</h1>
        <a href="/shopapi/additem" id="add-item-btn">Add new item</a>
    </div>
    
    <div id="user-items-container">
        <div class="profile-grid-container" id="items">
            {{range $item := .Items}} 
                <div class="profile-item-card">
                    <div class="profile-grid-item" id="item-{{$item.ID}}">
                        <a href="/shopapi/view/{{$item.ID}}">
                            <div class="profile-image-container">
                                <img src="/images/{{$item.GalleryImage}}" class="d-block w-100" alt="{{$item.GalleryImage}}">
                            </div>
                        </a>
                        <div class="item-info">
                            <p>{{$item.Name}} - {{$item.Size}}</p>
                            <p class="price">£{{$item.Price}}</p>
                        </div>
                        <div class="item-controls-container">
                            <a href="/shopapi/edititem/{{$item.ID}}" id="edit-item-btn">Edit</a>
                            <button class="delete-item-btn" data-itemid="{{$item.ID}}">Delete</button>
                        </div>
                    </div>
                </div>
            {{end}}
        </div>
        <script src="/../static/js/itemview.js"></script>
    </div>

    <div class="user-controls-class">
        <h4>We don't want to show you this button, but if you have to go...</h4>
        <a href="javascript:void(0)" onclick="confirmDelete()" id="delete-profile-btn">Delete Account</a>
    </div>
</div>


<script>
    // Confirmation before deleting profile
    function confirmDelete() {
        if (confirm("Are you sure you want to delete your profile? This action cannot be undone.")) {
            window.location.href = "/membersapi/delete";
        }
    }
</script>
<script src="/../static/js/profile.js"></script>

{{end}}
